@media (min-width: 390px){

    

}

@media(min-width: 1300px){
    .backgroundHeader{
        background-color:   transparent;
    }
    .header{
        display:flex;
        align-items:center;
        justify-content:right;
    }
    .title{
        position: relative;
        background: #0C1A3D;
        width:70%;
        height:68%;
        margin-top:1%;
        display: flex;
        
    }
    .logo1{
        position: relative;
        width: 36%;
        justify-content: end;        
        margin-top:2.9%;
        display:flex;
    }

    .logo1 > img{
        width: 31%;
        object-fit: cover;
    }

    .title > h1{
        text-transform: uppercase;
        font-size: 64px;
        position: relative;
        margin:0 0 0 2em;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .title2{
        font-size: 64px;
        margin-left:.5em;
        margin-top:.5em;
    }

    .btn-login{
        cursor: pointer;
    }

    .footer{
        position: absolute;
        display:flex;
    }

    .signin{
        position: absolute;
        display: flex;
        justify-content:center;
        margin:-19em 0 0 0;
    }

    .registro{
        display: flex;
        align-items: center;
        color:#000;
    }

    .socialmedia{

    
    }
}