@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@500;700&family=Nunito&display=swap');

*{
    border: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}

.reset{
    all: unset;
}

.reset{
    cursor: pointer;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    min-height: 900px;
}

.main{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 900px;
}
.header {
    width: 100%;
    max-height: 300px;
    height: 30vh;
    position: relative;
}


.title > h1{
    width: 100%;
    margin-top: 30px;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    z-index: 2;
}
.backgroundHeader{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
        
}
.backgroundHeader  img {
    /* display: none; */

}
.logo1{
    position: absolute;
    z-index: 2;
}

.blue{
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
}

.lightblue {
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: -1;
    bottom:-20%;
}

.blue > img, .lightblue > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.login{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.loginContainer{
    width: 100%;
    max-width: 620px;

}
.title2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    margin-left: 1em;
    margin-bottom: 1em;
}

.fontLexend{
    font-family: Lexend Deca;
}

.fields{
    display:flex;
    margin-left:3em;
    margin-bottom: .5em;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.input{
    width: 80%;
    height: 40px;
    margin-bottom: 1.5em;
    margin-left:2.5em;
    position: relative;
    border: 1px solid #2F80ED;
    border-radius: 10px;
}

.btn-login{
    width: 144px;
    height: 60px;
    font-size: 24px;
    line-height: 30px;
    border: 1px solid #000000;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
}

.password{
    position: relative;
    display: flex;
    width: 13em;
    font-size: 12px;
    padding-left: 1.5em;

}

.bottom-content{
    display: flex;
    flex-direction: row;
    margin-left:2.5em;
}

.foot{
    display: none;
}

.footi{
    display:block;
}
.signin{
    width: 100%;
    color: #fff;
}
.socialmedia{
    display: flex;
    justify-content:right;
    font-family:Nunito;
    margin-right:40px;
}
.registro{
    margin-left:20px;
}
.registro span{
    cursor: pointer;
}