@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@300;500;700&family=Nunito&display=swap');

*{
    border: 0;
    margin: 0;
}

html, body, main {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.up_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 0 1em 0;
}

.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #000;
    margin-right: auto;
    padding: 0 0 0 1em;
}

.usr{
    margin-left: 65.5%;
}

.logo1, .user{
    display: flex;
    width: 2%;
}

.logo1{
    margin: 0 0 0 1em;
}

.user{
    margin: 0 1.5em 0 0;
    
}

.inputsup{
    display:flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding:3em;
    border:solid;
}

.inputsbottom{ 
    display:flex;
    align-items: flex-end;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding:3em 0 0 3em;
    border:solid;
}

.grupo, .periodo,  .materia {
    width: 50%;
    padding:1em;
    border:solid;
}

form{
    display:flex;
    flex-direction:row;
    align-items: center;
}

/*----------------------------------------------------------------*/ 

.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
    display: none;
}

.content-select{

	max-width: 250px;
    margin-left: 4em;
	position: relative;
    box-shadow: 50px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.content-select select{
	display: inline-block;
	width: 25em;
	cursor: pointer;
    padding: 7px 10px;
    height: 42px;
	background: #ffffff;
	font-size: 1em;
	color: #000;
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:1.5px solid #000;
	border-bottom:1.5px solid #000;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}

.content-select:hover i{
	margin-top: 3px;
}

/*----------------------------------------------------------------*/

.btn-login{
    cursor: pointer;
    font-family: Lexend Deca;
    width: 144px;
    height: 60px;
    border: 1px solid #000000;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin-left:5em;
    font-weight: 500;
    font-size: 16px;
}

.materia{
    
}


.materia{

}