@media (min-width: 390px){

}

@media(min-width: 1300px){

    .up_bar {
        display: flex;
        justify-content: flex-start;
    
    }
    .logo1{
        position: relative;
        width: auto;
    }

    .logo1 > img{
        width: 35%;
    }

    .logo1_2{
        margin:0 -4em 0 1em;
        display: flex;
        justify-content: flex-start;

    }

    .title {
        margin: 0 0 0 0;
    }

    .img1{
        position: relative;
        width: 40em;
        height: auto;
    }

    .img1 > img{
        width: 100%;
        object-fit: cover;
    }


    .middle {
        display: flex;
        flex-direction:row;
        justify-content: space-around;
    }

    .info{
        width: 45%;
        min-width: 40%;

    }

    .titlei{
        font-weight: 700;
        font-size: 55px;
    }

    .parrafo{
        width: 80%;
        margin:1em 0 5em 0;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 22px;
    }

    .btn{
        cursor: pointer;
        max-width: 50%;
        text-align: center;
    }
    
    .home{
        position: relative;
        font-size: 20px;
    }



}